.text-shadow {
    background-color: whitesmoke;
    opacity: 75%;
    padding: 0.3rem;
    border-radius: 1rem;
    font-weight: bold;
  }
  
  .o-btn {
    text-decoration: none;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 22px 3px 60px;
    border-radius: 25px;
    border: 2px solid rgba(72, 1, 253);
    background: transparent;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    color: rgba(72, 1, 253);
    overflow: hidden;
    transition: all 0.2s ease;
  }
  
  .o-btn:hover {
    box-shadow: 0 2px 25px rgba(72, 1, 253, 0.645);
    color: #fff;
  }
  
  .o-btn:hover:before {
    width: 100%;
    margin-right: 0;
    text-indent: -40px;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: transparent;
  }
  
  .o-btn:hover span {
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  
  .o-btn:hover i {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  
  .o-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background: rgba(72, 1, 253);
    transition: all 0.3s ease;
  }
  
  .o-btn span {
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
  }
  
  .o-btn i {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background: rgba(72, 1, 253);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    transition: all 0.3s ease;
  }
  
  .c-list {
    text-align: center;
  }
  
  .c-list__item {
    margin-bottom: 20px;
  }
  
  .c-list__item:last-child {
    margin-bottom: 0;
  }
  
  [class*=" icon-"]:after,
  [class*=" icon-"]:before,
  [class^="icon-"]:after,
  [class^="icon-"]:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-login-wave:before {
    content: "\f2f6";
  }

  @keyframes wipe-in-bottom-right {
    from {
      clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
    }
    to {
      clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
    }
  }
  
  [transition-style="in:wipe:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
  }
