<ngx-spinner type="ball-scale-multiple">
<img src="../../../assets/img/loader.gif" alt="">
</ngx-spinner>

<section class="h-100 w-100" transition-style="in:wipe:bottom-right" [hidden]="loading">
  <div class="row w-100 mt-3 p-2 mb-0 me-0 ms-0 justify-content-evenly align-items-end">
    <div id="carouselExampleDark" class="mt-2 order-xxl-1 order-lg-1 order-md-2 order-sm-2 col-xxl-7 col-lg-6 col-md-9 col-sm-11 carousel carousel-dark slide">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="../../../assets/img/wp.png" class="d-block w-100 rounded img-fluid" alt="..."/>
          <div class="carousel-caption d-none d-md-block">
            <div class="text-shadow">
              <h1 class="fs-1 fw-bold text-center animate__animated animate__bounceInLeft">
                Bienvenido a la Clínica Online!
              </h1>
              <div class="shadow-lg bg-body-tertiary rounded p-3">
                <p>
                  En Clínica Online, contamos con profesionales especializados en diversas áreas médicas. Cada uno de ellos ocupa los consultorios según su disponibilidad y recibe a los pacientes con cita previa para consultas o tratamientos. Nuestro sistema de solicitud de turnos a través de la web te permite seleccionar al profesional o la especialidad deseada, brindándote flexibilidad y comodidad al programar tu consulta.
                </p>
                <p>
                  La duración mínima de un turno es de 30 minutos, sin embargo, nuestros profesionales tienen la libertad de ajustar la duración según las necesidades específicas de su especialidad. Además, muchos de nuestros especialistas tienen habilidades y conocimientos en más de una área médica, lo que nos permite ofrecerte una atención integral y multidisciplinaria.
                </p>
                <p>
                  ¡Te invitamos a explorar nuestro sitio web y reservar tu consulta hoy mismo! Estamos aquí para ayudarte a mantener y mejorar tu salud de manera segura y conveniente.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 order-xxl-3 order-lg-3 order-md-3 order-sm-3 row justify-content-center align-items-center">
      <div class="c-list">
        <div class="c-list__item">
          <a class="o-btn icon-login-wave" routerLink="/ingresar">
            <span>Ingresar</span>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
