<ngx-spinner type="ball-scale-multiple">
  <img src="../../../assets/img/loader.gif" alt="">
</ngx-spinner>
<section class="w-100 m-0 p-1 h-100 row justify-content-center align-items-center" [hidden]="showForm">
  <div class="bg-light shadow p-1 rounded col-lg-4 col-md-6 col-sm-8">
    <div class="w-100 row justify-content-center justify-content-sm-start p-2">
      <button title="Volver" class="col-md-3 col-2 btn btn-outline-warning bg-gradient" (click)="return()">
        <i class="fa-solid fa-circle-arrow-left"></i>
        Volver
      </button>
    </div>
    <div class="row w-100 justify-content-center align-items-center">
      <h2 class="text-center">Paciente</h2>
      <img class="col-3 mt-1" src="../../../../../assets/img/paciente.jpg" alt="register_paciente"/>
    </div>
    <form [formGroup]="formPatientRegister" class="p-2" (ngSubmit)="register()">
      <div class="row g-3 justify-content-center">
        <div class="col-sm-6">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nombre"/>
          <div [hidden]="formPatientRegister.controls['name'].pristine || !formPatientRegister.controls['name'].invalid">
            <span *ngIf="formPatientRegister.controls['name'].errors?.['required']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Nombre es requerido</span>
            <span *ngIf="formPatientRegister.controls['name'].errors?.['minlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Debes ingresar al menos 3 caracteres</span>
            <span *ngIf="formPatientRegister.controls['name'].errors?.['maxlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Superó la cantidad de caracteres máxima</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="lastName" class="form-label">Apellido</label>
          <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Apellido"/>
          <div [hidden]="formPatientRegister.controls['lastName'].pristine || !formPatientRegister.controls['lastName'].invalid">
            <span *ngIf="formPatientRegister.controls['lastName'].errors?.['required']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Apellido es requerido</span>
            <span *ngIf="formPatientRegister.controls['lastName'].errors?.['minlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Debes ingresar al menos 3 caracteres</span>
            <span *ngIf="formPatientRegister.controls['lastName'].errors?.['maxlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Superó la cantidad de caracteres máxima</span>
          </div>
        </div>
      </div>
      <div class="row g-3 justify-content-center">
        <div class="col-sm-6">
          <label for="age" class="form-label">Edad</label>
          <input type="number" formControlName="age" class="form-control" id="age" placeholder="Edad"/>
          <div [hidden]="formPatientRegister.controls['age'].pristine || !formPatientRegister.controls['age'].invalid">
            <span *ngIf="formPatientRegister.controls['age'].errors?.['required']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Edad es requerida</span>
            <span *ngIf="formPatientRegister.controls['age'].errors?.['min']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Edad invalida</span>
            <span *ngIf="formPatientRegister.controls['age'].errors?.['max']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Edad invalida</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="dni" class="form-label">DNI</label>
          <input type="number" formControlName="dni" class="form-control" id="dni" placeholder="DNI"/>
          <div [hidden]="formPatientRegister.controls['dni'].pristine || !formPatientRegister.controls['dni'].invalid">
            <span *ngIf="formPatientRegister.controls['dni'].errors?.['required']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">DNI es requerido</span>
            <span *ngIf="formPatientRegister.controls['dni'].errors?.['min']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">DNI invalido</span>
            <span *ngIf="formPatientRegister.controls['dni'].errors?.['max']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">DNI invalido</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <label for="socialWork" class="form-label">Obra Social</label>
        <div class="input-group">
          <input type="text" formControlName="socialWork" class="form-control" id="socialWork" placeholder="Obra Social"/>
        </div>
        <div [hidden]="formPatientRegister.controls['socialWork'].pristine || !formPatientRegister.controls['socialWork'].invalid">
          <span *ngIf="formPatientRegister.controls['socialWork'].errors?.['required']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Obra social es requerida</span>
          <span *ngIf="formPatientRegister.controls['socialWork'].errors?.['minlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Debes ingresar al menos 3 caracteres</span>
          <span *ngIf="formPatientRegister.controls['socialWork'].errors?.['maxlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Superó la cantidad de caracteres máxima</span>
        </div>
      </div>
      <div class="col-12">
        <label for="email" class="form-label">E-mail</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="tu_email@mail.com"/>
        <div [hidden]="formPatientRegister.controls['email'].pristine || !formPatientRegister.controls['email'].invalid">
          <span *ngIf="formPatientRegister.controls['email'].errors?.['required']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">E-mail es requerido</span>
          <span *ngIf="formPatientRegister.controls['email'].errors?.['email']" class="mt-2 p-0 shadow text-center form-control alert alert-danger" >E-mail debe ser valido</span>
        </div>
      </div>
      <div class="col-12">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="Constraseña"/>
        </div>
        <div [hidden]="formPatientRegister.controls['password'].pristine || !formPatientRegister.controls['password'].invalid">
          <span *ngIf="formPatientRegister.controls['password'].errors?.['required']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Contraseña es requerida</span>
          <span *ngIf="formPatientRegister.controls['password'].errors?.['minlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Debes ingresar al menos 6 caracteres</span>
          <span *ngIf="formPatientRegister.controls['password'].errors?.['maxlength']" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Superó la cantidad de caracteres máxima (15)</span>
        </div>
      </div>
      <div class="row g-3 justify-content-center">
        <p class="text-center p-2">Debe adjuntar 2 imagenes de perfil:</p>
        <div class="col-sm-6">
          <label for="profilePhoto" class="form-label">Foto 1</label>
          <input type="file" formControlName="profilePhoto" class="form-control" id="profilePhoto" accept=".jpeg,.jpg,.png,.svg" placeholder="Foto de perfil 1" (input)="selectFile($event, 1)"/>
          <span
            [hidden]="!formPatientRegister.controls['profilePhoto'].touched || !formPatientRegister.controls['profilePhoto'].errors" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Foto 1 es requerida</span>
        </div>

        <div class="col-sm-6">
          <label for="profilePhotoTwo" class="form-label">Foto 2</label>
          <input type="file" formControlName="profilePhotoTwo" class="form-control" id="profilePhotoTwo" accept=".jpeg,.jpg,.png,.svg" placeholder="Foto de perfil 2" (input)="selectFile($event, 2)"/>
          <span [hidden]="!formPatientRegister.controls['profilePhotoTwo'].touched || !formPatientRegister.controls['profilePhotoTwo'].errors" class="mt-2 p-0 shadow text-center form-control alert alert-danger">Foto 2 es requerida</span>
        </div>
      </div>
      <input class="mt-3 w-100 btn btn-lg btn-outline-success btn-block" type="submit" value="Registrarse"/>
    </form>
  </div>
</section>
