
.bg-state{
    background-color: aliceblue;
    font-weight: bold;
    text-decoration: underline;
}

.ratings_size{
    transform: scale(3);
}

.swal2-radio {
    display: grid !important;
    text-align: left !important;
}