<div *ngIf="this.uService.userLogged?.userRole == 'admin'">
    <div class="row w-100 justify-content-center">
        <div class="col-5">
            <h3 class="row w-100 justify-content-center">Listado de turnos:</h3>
          <input
            class="form-control p-2 mb-2"
            type="text"
            placeholder="Ingrese especialidad o nombre del especialista para filtrar..."
            (keyup)="searchAppoinment($event)"/>
        </div>
    </div>
    
    <table *ngIf="this.aService.appointments" class="table table-striped table-ligth">
        <thead class="table-info">
          <tr>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Especialista</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Especialidad</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Paciente</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Dia</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Hora</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Reseña</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Estado</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let element of listOfAppointmentsFiltered">
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.specialist.lastName}}, {{element.specialist.name}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.specialist.speciality.description}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.patient.lastName}}, {{element.patient.name}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.day.dayOfWeek}}, {{element.day.date}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.day.timeStart | hours}} a {{element.day.timeEnd | hours}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.review}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center bg-state">
              {{element.state}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
              <button *ngIf="element.state !='Realizado' && element.state != 'Cancelado' && element.state != 'Rechazado'" class="btn btn-danger m-1" type="button" (click)="cancelAppointment2(element)" title="CANCELAR">C</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="this.uService.userLogged?.userRole == 'especialista'">
    <div class="row w-100 justify-content-center">
        <div class="col-5">
            <h3 class="row w-100 justify-content-center">Listado de turnos:</h3>
          <input
            class="form-control p-2 mb-2"
            type="text"
            placeholder="Ingrese especialidad o nombre del paciente para filtrar..."
            (keyup)="searchAppoinment($event)"/>
        </div>
    </div>
    
    <table *ngIf="this.aService.appointments" class="table table-striped table-ligth">
        <thead class="table-info">
          <tr>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Especialista</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Especialidad</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Paciente</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Dia</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Hora</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Estado</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let element of listOfAppointmentsFiltered">
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.specialist.lastName}}, {{element.specialist.name}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.specialist.speciality.description}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.patient.lastName}}, {{element.patient.name}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.day.dayOfWeek}}, {{element.day.date}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
              {{element.day.timeStart | hours}} a {{element.day.timeEnd | hours}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center bg-state">
                {{element.state}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
              <button *ngIf="element.state !='Realizado' && element.state != 'Cancelado' && element.state != 'Rechazado'" class="btn btn-danger m-1" type="button" (click)="cancelAppointment2(element)" title="CANCELAR">C</button>
              <button *ngIf="element.review" class="btn btn-warning m-1" type="button" (click)="showReview(element)" title="RESEÑA">R</button>
              <button *ngIf="element.state == 'Pendiente'" class="btn btn-success m-1" type="button" (click)="showAccept(element)" title="ACEPTAR">A</button>
              <button *ngIf="element.state == 'Aceptado'" class="btn btn-success m-1" type="button" (click)="finishAppointment(element)" title="FINALIZAR">F</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="this.uService.userLogged?.userRole == 'paciente'">
    <div class="row w-100 justify-content-center">
        <div class="col-5">
            <h3 class="row w-100 justify-content-center">Listado de turnos:</h3>
          <input
            class="form-control p-2 mb-2"
            type="text"
            placeholder="Ingrese especialidad o nombre del especialista para filtrar..."
            (keyup)="searchAppoinment($event)"/>
        </div>
    </div>
    
    <table *ngIf="this.aService.appointments" class="table table-striped table-ligth">
        <thead class="table-info">
          <tr>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Especialista</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Especialidad</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Paciente</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Dia</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Hora</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Estado</th>
            <th *ngIf="this.aService.appointments.length > 0" class="text-center fw-bold">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let element of listOfAppointmentsFiltered">
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.specialist.lastName}}, {{element.specialist.name}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.specialist.speciality.description}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.patient.lastName}}, {{element.patient.name}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
                {{element.day.dayOfWeek}}, {{element.day.date}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
              {{element.day.timeStart | hours}} a {{element.day.timeEnd | hours}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center bg-state">
                {{element.state}}
            </td>
            <td *ngIf="listOfAppointmentsFiltered.length > 0" class="text-center">
              <button *ngIf="element.state !='Realizado' && element.state != 'Cancelado' && element.state != 'Rechazado'" class="btn btn-danger m-1" type="button" (click)="cancelAppointment2(element)" title="CANCELAR">C</button>
              <button *ngIf="element.review" class="btn btn-warning m-1" type="button" (click)="showReview(element)" title="RESEÑA">R</button>
              <button *ngIf="element.state =='Realizado' && element.review" class="btn btn-primary m-1" type="button" (click)="showSurvey(element)" title="ENCUESTA">E</button>
              <p-rating *ngIf="element.state == 'Realizado'" [(ngModel)]="element.calification" [cancel]="false" class="p-3 m-3" [iconOnStyle]="{'color': '#ebb734'}" (click)="sendRating(element)" title="CALIFICACIÓN"></p-rating>
            </td>
          </tr>
        </tbody>
      </table>
</div>


