<section class="row justify-content-end w-100 p-0 m-0">
    <div class="p-5 mt-4 shadow bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="text-center display-5 fw-bold">Usuarios Registrados</h1>
            <section class="row justify-content-center align-items-center m-0 p-0 w-100" [hidden]="!showTable">
                <button class="col-xxl-1 col-sm-2 col-6 m-1 p-3 btn boton rounded-circle" (click)="chooseListOption('paciente')" title="Pacientes"><img src="../../../assets/img/paciente.jpg" class="card-img img-fluid rounded-circle" alt="Pacientes" /></button>
                <button class="col-xxl-1 col-sm-2 col-6 m-1 p-3 btn boton rounded-circle" (click)="chooseListOption('especialista')" title="Especialistas"><img src="../../../assets/img/doctor.jpg" class="card-img img-fluid rounded-circle" alt="Especialistas" /></button>
                <button class="col-xxl-1 col-sm-2 col-6 m-1 p-3 btn boton rounded-circle" (click)="chooseListOption('admin')" title="Administradores"><img src="../../../assets/img/admin.png" class="card-img img-fluid rounded-circle"alt="Administradores" /></button>
            </section>
        </div>
    </div>
</section>

<app-users-table [list]="listFiltered" [showTable]="showTable" [roleOption]="listChoseOption" (eventShowTable)="handlerUpdateView($event)"></app-users-table>

<section class="row justify-content-end w-100 p-0 m-0">
    <div class="p-5 mt-4 shadow bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="text-center display-5 fw-bold">Alta Usuarios</h1>
            <section class="row justify-content-center align-items-center m-0 p-0 w-100" [hidden]="showCreateUsers">
                <div class="w-100 row justify-content-center justify-content-sm-center p-2 m-0">
                    <input type="button" value="Comenzar" class="col-sm-1 col-md-2 col-8 btn btn-warning" (click)="activateCreateUsers()">
                </div>
            </section>
            <div class="mt-4 rounded-3" [hidden]="!showCreateUsers">
                <div class="container-fluid">
                    <div class="w-100 row justify-content-center justify-content-sm-center p-2 m-0">
                        <button title="Salir del Alta" class="col-sm-1 col-md-2 col-8 btn btn-warning" (click)="return()">Salir del Alta</button>
                    </div>
                    <app-register></app-register>
                </div>
            </div>
        </div>
    </div>
</section>