.bg-beige{
    background-color: beige;
}

.boton{
    border: 2px solid black;
    background-color: aqua;
}
.boton:hover{
    background-color: rgb(78, 78, 241);
    color: white;
}

.texto-limitado {
    overflow: visible;
    white-space: pre-wrap;
    text-overflow: clip;
    width: 400px;
}

.titles{
    font-weight: bold;
    text-decoration: underline;
}

.padL{
    padding-left: 10%;
}